//compass imports
// @import "../bower_components/compass-mixins/lib/compass";
// @import 'compass';
// @import 'compass-mixins/lib/animate'
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "../../bower_components/compass-mixins/lib/animation/";
// @import "../../bower_components/compass-mixins/lib/compass/css3/animation";
@import "../../bower_components/materialize/sass/materialize";
// @import "bourbon/bourbon";
//custom imports
@import 'partials/variables';
@import 'partials/hex';
@import 'partials/sidebar';


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body, main{
  font-family: $font-family;
  font-weight: $font-weight;
  // font-size: 1em;
  // line-height: 1.6;
  background: $main-bkgrd;
  margin: 0;
}

body {
    // font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

// h1,h2,h3,h4,h5,h6,p {
//    line-height: 1.45;
// }

// h1 { font-size: 4em; }
// h2 { font-size: 3em; }
// h3 { font-size: 2.5em;}
// h4 { font-size: 2em;}
// h5 { font-size: 1.5em;}
// h6 { font-size: 1.25em;}

h1, h2, h3, .h1, .h2,.h3{
  font-weight: 400;
  font-color: $green;
  color: $green;
  // * {
  //   font-color: green;
  // }
}
 h4, h5, h6, .h4, .h5, .h6{
  font-weight: 400;
  font-color: $pink;
  color: $pink;
}

main {
  flex: 1 0 auto;
}

.flow-text{
  font-weight: $font-weight;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: $font-size-small * (1 + (.02 * $i));
    }
    @media only screen and (min-width : 0 + ($i * $interval-size)) {
      font-size: $font-size-small * (1 + (.02 * $i));
      line-height: $font-size-small * .7 * (1 + (.13 * $i));
    }
    $i: $i + 1;
  }
}

main>section.row{
  display: flex;
  height: 100vh;
  @include MQ(S){
    flex-flow: row wrap;
  }
  @include MQ(M){
    flex-flow: row wrap;
  }
  margin: 0;
}

.row{
  margin-bottom: 2rem;
}


.mastfoot {
  // height: 1.5rem;
  width: 100%;
  color: $pink;
  position: absolute;
  bottom: 0;
  left: 0;
  p{
    font-size: .75em;
    text-align: center;
    line-height: 2em;
    padding: 0 1.5rem;
  }
}