{% extends "base.html" %}
{% block title%} ifj {% endblock %}
{% block content %}
	<section class="row">
	{% include "includes/nav.html" %}
		<section id="me-wrapper" class="col s12 l10 offset-l2 valign-wrapper">
			<section id = "me" class="valign col l8 s10 offset-l2 offset-s1"> 
				<p class="flow-text">I'm a junior at Reed College, where I study Math with a concentration in Computer Science. I'm still figuring out what that means, but I do know that I'm not getting any faster at calculating tips.</p>
				<p class="flow-text">I'm not a great hobbyist because I can't seem to stick with just one. Currently they include running, rubik's cubing, and cooking. In the past, I've tried my hand at modular origami, calligraphy, longboarding, crocheting, and bookbinding. I flirted with the saxophone in middle school.</p>
				<p class="flow-text"></p>
				<section class="row" id="more">
					<ul id="books" class="col s12 m6 l3">
						<li class="header">Books:</li>
						<li>Seiobo There Below by László Krasznahorkai</li>
						<li>Museum of Eterna's Novel (The First Good Novel) by Macedonio Fernández</li>
						<li>The Brothers Karamazov by Fyodor Dostoyevsky</li>
						<li>Nikolai Gogol by Vladimir Nabokov</li>
					</ul>

					<ul id="music" class="col s12 m6 l3">
						<li class="header">Albums:</li>
						<li>Kid A by RadioHead</li>
						<li>The Moon & Antarctica by Modest Mouse</li>
						<li>An Awesome Wave by alt-J</li>
						<li>LP1 by FKA twigs</li>
						<li>Sylvan Esso by Sylvan Esso</li>
					</ul>

					<ul id="places" class="col s12 m6 l3">
						<li class="header">Places:</li>
						<li>Oaks Bottom Park</li>
						<li>Skidmore Bluffs</li>
						<li>Reed College Performing Arts Building</li>
					</ul>

					<ul id="things" class="col s12 m6 l3">
						<li class="header">Things:</li>
						<li>Pilot .4mm Hi-Tec C Pen</li>
						<li>Soft Cover Moleskine</li>
						<li>Rubik's Cube</li>
					</ul>
				</section>
			</section>
		<!-- 
 --></section>
<!-- 	<footer>
	</footer> -->
{% endblock %}		
