{% extends "base.html" %}
{% block title%} ifj {% endblock %}
{% block content %}
	<section class="row">
	{% include "includes/nav.html" %}
		<section id="me-wrapper" class="col s12 l10 offset-l2">
		<section class="row valign-wrapper">
			<section id = "me" class="valign col l8 s10 offset-l2 offset-s1"> 
				<p class = "flow-text">Hi, I'm Isabella. I'm a senior math major (with a concentration in computer science) at Reed College. I've forgotten how to use numbers, and I don't think I've gotten any faster at calculating tips, but I've developed a soft spot for clean code and proofs by reduction.</p>
				<p class="flow-text">When it comes to programming, I'm a sucker for a smooth workflow and good documentation. One of my favorite parts about beginning a new project is the process of stitching all the technologies together seamlessly. Though my projects vary in scope and language, Sublime Text has remained my primary text editor and I've been using oh-my-zsh to pimp out my shell since 2012.</p>
				<section class="row" id="more">
					<section class = "col s12">
						<section class="row">
						<ul id="books" class="col s12 m8 l8">
							<li class="header">Books:</li>
							<li>Seiobo There Below by László Krasznahorkai</li>
							<li>Museum of Eterna's Novel (The First Good Novel) by Macedonio Fernández</li>
							<li>The Brothers Karamazov by Fyodor Dostoyevsky</li>
							<li>Nikolai Gogol by Vladimir Nabokov</li>
						</ul>

						<ul id="places" class="col s12 m4 l4">
							<li class="header">Places:</li>
							<li>Oaks Bottom Park</li>
							<li>Skidmore Bluffs</li>
							<li>Reed College Performing Arts Building</li>
						</ul>
						</section>
						<section class="row">
						<ul id="music" class="col s12 m8 l8">
							<li class="header">Albums:</li>
							<li>Kid A by RadioHead</li>
							<li>The Moon & Antarctica by Modest Mouse</li>
							<li>An Awesome Wave by alt-J</li>
							<li>LP1 by FKA twigs</li>
							<li>Sylvan Esso by Sylvan Esso</li>
						</ul>

						<ul id="things" class="col s12 m4 l4">
							<li class="header">Things:</li>
							<li>Pilot .4mm Hi-Tec C Pen</li>
							<li>Soft Cover Moleskine</li>
							<li>Rubik's Cube</li>
						</ul>
						</section>
					</section>
				</section>
			</section>
		</section>	
		</section>
 </section>
<!-- 	<footer>
	</footer> -->
{% endblock %}		
