{% extends "base.html" %}
{% block title%} ifj {% endblock %}
{% block content %}
<section class="row">
  {% include "includes/nav.html" %}
  <section id="find-me-wrapper" class="col s12 l10 offset-l2 valign-wrapper"> 
  <div class = "valign col l4 m4 s8 find_me_links">
    <a id ="github" href="https://github.com/ifjorissen" class="waves-effect waves-light btn-large"><i class="fa fa-github-alt"></i></a>
    <a href="https://www.linkedin.com/pub/isabella-jorissen/59/48a/80" class="waves-effect waves-light btn-large"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.twitter.com/ifjorissen" class="waves-effect waves-light btn-large"><i class="fa fa-twitter"></i></a>
  </div>
  </section>
</section>
{% endblock %}    
