#me-wrapper{
	>.row{
		min-height:100vh;
		margin: 0;
	}
}
#me{
	border-right: $green .5rem solid;
	padding: .5rem 2rem;

	#more{
		.col{
			padding: 0;
		}
		margin-bottom: 0;
		ul{
			padding: 0;
			margin: 0;
		}
		li{
			// border-left: .25em $pink solid;
			padding: 0 .5rem;
			&.header{
				font-size: $font-size-large;
				border-left: none;
				padding: 0;
				font-weight: 400;
				color: $pink;
			}
		}
	}
}
