#find-me-wrapper{
	padding: .5rem 1rem;
	.find_me_links{
		margin: auto;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		@include MQ(S){
    	flex-flow: column wrap;
  	}
	  @include MQ(M){
	    flex-flow: column wrap;
	  }
		a{
			text-decoration: none;
			background-color: transparentize($pink, .2);
			i{
				font-weight: 200;
				color: whitesmoke;
			}
		}
	}
}
