{% extends "blog/b_base.html" %}

{% load custom_markdown %}
{% block posts %}
<section class="col l10 s10 offset-l1 offset-s1">
	<section class="post-object detail">
	  <div class="post-header">
	      <h1>{{post.title}}</h1>
		<p>{{post.pub_date}}</p>
	  </div>
	  <section class="post_body flow-text">
	      {{post.text|custom_markdown}}
	  </section>
	</section>
</section>
{% endblock %}

{% block footer %}
<div class = "pagination_footer">
    <p>Copyright &copy; {% now "Y" %}</p>
</div>
{% endblock %}
