{% extends "blog/b_base.html" %}
{% load custom_markdown %}
{% block posts %}

{% for post in object_list %}
<section class="row">
    <section class="col l8 s10 offset-l2 offset-s1">
        <section class ="post-object ">
            <div class="post-header">
                <h3><a href = "{{post.get_absolute_url}}">{{post.title}}</a></h3>
                <p>{{post.pub_date}}</p>
                <span>Tagged under: 
                {% for tag in post.tags.all %}
                <a class="tag" href="{{tag.get_absolute_url}}">{{tag.slug}}</a>
                {% endfor %}
                </span>
            </div>
            <div class="post-body flow-text">
                {{post.text|custom_markdown}}
            </div>
        </section>
    </section>
</section>
{% endfor %}

{% endblock %}

{% block footer %}
<div class = "pagination_footer">
    {% if page_obj.has_previous %}
    <h4 class = "prev"><a href = "/blog/{{page_obj.previous_page_number}}/">Previous Page</a></h4>
    {% endif %}

    {% if page_obj.has_next %}
    <h4 class ="next"><a href = "/blog/{{page_obj.next_page_number}}/">Next Page</a></h4>
    {% endif %}

</div>
{% endblock %}
