{% extends "playground/p_base.html" %}
{% block title %} ifj/playground {% endblock %}
{% load static %}

{% load custom_markdown %}
{% block projects %}
  <section class="row">
    <section class="col l9 s10 offset-l2 offset-s1">
      <section class="proj-object">
        <section class="row valign-wrapper proj-header">
          <div class="col l2 s2 m2 valign"><img class="circle responsive-img" src="{{project.thumbnail.url}}"></div>
          <div class="col l10 m10 s10 right-align">
            <h2><a href = "{{project.get_absolute_url}}">{{project.title}}</a></h2>
            {% if project.projurl %}
            <span class="h4">Project URL:</span><span><a href="{{project.projurl}}"> {{project.projurl}}</a></span> <br>
            {% endif %}
            <span class="h4">Completed On:</span><span> {{project.completion_date}}</span></br>
          </div>
        </section>
        <section class="row">
          <section class="col l12 m12 s12 proj-body flow-text">
          {% if project.objective %}
            <h5 class="subheader">Objective:</h5>
            {{project.objective|custom_markdown}}<br>
          {% endif %}
            <h5 class="subheader">Description:</h5>
            {{project.description|custom_markdown}}</br>
          {%if project.solution %}      
	          <h5 class="subheader">Solution:</h5>
            {{project.solution|custom_markdown}}</br>
          {% endif %} 
          </section>
          <section class="col l12 m12 s12 proj-images flow-text">
              <h5 class="subheader">Project Stills</h5>
              {% if project.gallery %}
                {% for img in project.projectimage_set.all %}
                <section class="row">
                <div class="col l10 m10 s12 proj-image-wrapper">
                  <div class="proj-img">
                    <img class="responsive-img" src="{{img.projimg.url}}">
                    <p class="img-caption">{{img.caption}}</p>
                  </div>
                </div>
                </section>
                {% endfor %}
              {% else %}
                <section class="row">
                {% for img in project.projectimage_set.all %}
                <div class="col l6 m6 s12 proj-image-wrapper">
                  <div class="proj-img">
                    <img class="responsive-img" src="{{img.projimg.url}}">
                    <p class="img-caption">{{img.caption}}</p>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                </section>
                <section class="row">
               {% endif %}
              {% endfor %}
              </section>
              {% endif %}
           </section>
        </section>
      </section>
    </section>
  </section>
{% endblock %}

{% block footer %}
<!-- <div class = "pagination_footer">
  {% if page_obj.has_previous %}
  <h5 class = "prev"><a href = "/playground/{{page_obj.previous_page_number}}/">Previous Page</a></h5>
  {% endif %} -->

  {% if page_obj.has_next %}
  <h5 class ="next"><a href = "/playground/{{page_obj.next_page_number}}/">Next Page</a></h5>
  {% endif %}
</div>
{% endblock %}

